.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.header h1 {
  padding: 20px;
  background-color: aqua;
  color: rgba(0, 0, 0, 0.904);

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.header h1 a {
  text-decoration: none;
  color: rgb(54, 148, 230);
}
